@import 'nav.css';

.hero-section{
    width:100%;
    height: calc(100vh - 120px);
    background-image: url('../img/hero2.png');
    background-size: cover;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-section .logo{
    height:300px;
    display:block;
    margin:auto;
}

.hero-section .sub-head{
    margin-top:10px;
    text-align:center;
    color:#fff;
    
    font-size:50px;
    font-weight: 300;
}


.homecontainer{
    position:relative;
    row-gap: 2.5rem;
}


.homeimg{
    width: 240px;
    padding-top: 50px;
}

.homeimg2 {
    width: 240px;
}

.homecontainer_container_grid {
    padding-left: 70px;
}

.cubes_container {
    display: flex;
    flex-direction: row;
}

.home_data {
    display: flex;
    align-self: center;
    flex-direction: column;
    padding-left: 20px;
}


.homeimg2 {
    padding-top: 30px;
}


.title {
    display: flex;
    justify-content: center;
    font-family: "roboto",sans-serif;
    padding-top: 50px;
}

.home_price {
    color: #ff0000;
    font-size: x-large;
}

.button_home_button { 
    width: 122px;
    height: 30px;
    font-size: medium;
}

.home_footer {
    height: 350px;
    background-color: rgb(6, 17, 54);
    margin-top: 50px;
    color: white;
}